
.container{
    
    display: flex;  
    background-color: rgb(31, 29, 29);
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    box-sizing: border-box;
    margin:0 auto;

    width: 100%;
    
    
    top:0;
    left:0;
    right:0;
    transition: all 0.5s ease 0s;
   
   
   
}


.main-pic{
    
    
    text-align: center;
    color: white;
    object-fit: contain;
    
   
   
    
  
}
.main-pic img {
    /* max-width: 300px; */
    width: 100%;
    flex: 0 0 auto;
    /* object-fit: contain; */
    border-radius: 4px;
    object-fit: scale-down;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.my-name{
   
    
    font-weight: solid;
    text-align: center;
    
    font-size: 40px;
    background-color: rgb(34, 34, 39);
    color:white;
    /* border-radius: 100px; */
    margin: 10px;
        
    
    
    
}
.top-box{
    flex:1;
    background-color: rgb(38, 38, 39);
    
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    margin:3px;
    

}
.bottom-box{
    flex:1;
    background-color: rgb(38, 38, 39);
   
    flex-direction: column;
    justify-content: space-between;
       
    margin: 3px;
    /* margin-bottom: 50px; */
    padding: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}
.last-box{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
  

}
.main-photo{
   
    
    
}
@media screen and (max-width: 768px)
{
    .container{
        flex-direction: column;
        
       
    }
}

.text-box2{
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-style: solid;
    color: white;
    
    
    
}
@media screen and (max-width: 768px) {
    .text-box2{
        font-size: 80%;
        margin: 3px;
    }
    
}
.p1-fix{
    flex:1;
    font-size: 30px;
    text-size-adjust: auto;
    background-color: rgb(34, 89, 107);
    border-radius: 8px;
    padding: 1%;
    margin: 3px;
    text-align: center;
    margin-bottom: 30px;
   
}
.p2-fix{
    flex:1;
    font-size: 30px;
    text-size-adjust: auto;
    background-color: rgb(34, 89, 107);
    border-radius: 8px;
    padding: 1%;
    margin: 12px;
    text-align: center;
    
    
}
.p3-fix{    
    flex:1;
    font-size: 40px;
    text-size-adjust: auto; 
    background-color: rgb(34, 34, 39);
    border-radius: 8px;
    padding: 1%;
    margin: 3px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
   
}


@media screen and (max-width: 768px) {
    .p1-fix, .p2-fix{
        font-size: 100%;
    }
    
}
.leftbox{
    flex:1;
    background-color: #1f1d1f;
    
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    margin: 3px;
    

}
.singlebox{
    flex:1;
    background-color: rgb(38, 38, 39);
    
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    margin: 3px;
    
    

}
.rightbox{
    flex:1;
    background-color: #1f1d1f;
    
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    margin: 3px;
    

}
.descriptionbox{
   align-items: center;
   text-align: center;
   color: white;
   font-size: 30px;
   text-size-adjust: auto;
}
.pic-desc{
   
    color:white;
    text-align: center;
    align-items: center;
    padding: 5%;

}
.pic-text{
    background-color: rgb(38, 38, 39);
    padding:4%;
    border-radius: 5px;
    font-size: 30px;
    text-size-adjust: auto;
}
@media screen and (max-width:700px) {
    .pic-text,.pic-desc,.descriptionbox{
        font-size: 100%;
    }
}