.background-picture{
    width: 100%;
    height: auto;
    margin-top: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
   

 }
 .full-body{
 
    
  
    
}
@media screen and (max-width: 500px) {
    .responsive{
        padding: 0, 20px;
        background-color: aqua;

    }
   
}
@media screen and (min-width: 400px) {
    .img-overlay:after{
        height: 500px;
        
    }
    .img-overlay{
        height: 500px;
        
    }
    
}
.contain{
    display:flex;
}

.img-overlay{
    flex: 1;
    position: absolute;
   
    width:100%;
    height: 300px;
    /* background: rgba(0, 0, 0, 0.322); */
    margin-top:75px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    justify-content: space-between;
   
    
  
 
    
}
.img-overlay:after{
    content:"";
    
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 300px;
   
    background-color:#000;
    opacity:0;
    transition: all 0.5s ease 0s;
}
.img-overlay:hover:after{
    opacity:0.5;
}

.booknow{
    
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 85px;
    font-size: 3vw;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border-color: gray;
    border-width: 2px;
    
    
    
}
.booknow:hover{
    opacity: 0.9;
}
.textbox{
    flex: 1;
    left: 0;
    top:20%;
    margin-top: 20%;
    justify-content: space-between;
    z-index: 1;
    font-size: 90px;
    
    color: white;
    position: absolute;
    
    margin-left: 10px; 
    align-items: bottom;
    border-width: 10px;
    border-radius: 50px;
    padding: 15px;
    
 
}
.textbox:hover{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    background-color:#000;
    transition: 5s ease 0s;
    opacity: 0;
    padding: 30%;
    /* animation-name: slidetoleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: normal; */
}
.textbox:hover:after{
    opacity: 0.5px;

}
.textbox2{
    top:20%;
    position: absolute;
    right:0;
    margin-top: 20%;
   
    margin-right: 20px;
    z-index: 1;
 
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    background-color: black;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px, 1fr;
}
.change-image{
    width: 100%;
    border-radius: 60px;
}
@keyframes slidetoleft{
    from{
        transform: translateX(-300px);

    }
    to{
        transform: translateX(0px);
    
    }

}